

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
    
}

.container{
    width: 1920px;
    margin: 0 auto;
}

.wrapper{
     background-image: url("../img/bacround_header.png");
     width: 100%;
     max-width: 1920px;
     height: 1080px;
}

.logo{
    padding-left: 30px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 106px;
    background: rgba(0, 0, 0, 0.40);
   
 
    width: 100%;
    
    
    &_icon{
        display: flex;
        gap: 10px;
    }
    
    &_tel{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        p{
            color: var(--white, #F3F3F3);
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; 
        }

    }

    &_link{
        display: flex;

        gap: 40px;

        a{
            text-decoration: none;
            color: var(--white, #F3F3F3);
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }

}
.vector_img{
    display: none;
}
.nav_btn{
    display: flex;
    width: 211px;
    height: 110px;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: var(--purple, #6A369C);
    color: var(--white, #F3F3F3);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.truc_time{
    padding-top: 100px;

    h1{
        padding-left: 245px;
        color: var(--white, #F3F3F3);
        font-size: 56px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        padding-bottom: 30px;
    }

     &_p{
        max-width: 770px;
        color: var(--white, #F3F3F3);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        padding-left: 245px;
        
    }
}

.truc_btn {
    padding-left: 245px;
    padding-top: 40px;

    .btn2{
        background-color: transparent;
        color: #F3F3F3;
        border: 2px solid var(--white, #F3F3F3);
    }


}

.truc_btn button{
    display: inline-flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; 
}

.truck_title{
    h2{
        color: var(--white, #F3F3F3);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-left: 245px;
        padding-top: 110px;
        padding-bottom: 30px;
    }
}

.truck_price{
    display: flex;
    align-items: center;
    justify-content:left;
    padding-left: 245px;
    gap: 70px;

}
    .card{
        
        h2{
        display: flex;
        width: 157px;
        height: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        flex-shrink: 0; 
        color: var(--logo-light-green, #04FF14);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        }
        p{
            color: var(--white, #F3F3F3);
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
    }
}

.line{
    padding-top: 30px;
    padding-left: 230px;
}