@media(max-width: 1152px){

   .navbar{
    display: flex;
    align-items: center;
    justify-content:center;
    
   }

  

    .navbar_link{
        display: none;
    }

    .vector_img{
        display: block;
    }
   .navbar_icon{
    margin-right: 100px;
   }

    .navbar_tel{
        margin-right: 278px;

        p{
            width: 158px;
            height: 23px;
        }
    }

    .truc_time{
        h1{
            
            padding-left: 45px;
        }
        .truc_time_p{
            padding-left: 45px;
        }
    }
    .truc_btn{
        padding-left: 45px;
    }
    .btn2{
        width: 288px;
    }
    .truck_title{
        h2{
            
            padding-left: 58px;
        }
    }

    .truck_price{
            padding-left: 58px;

    }

    .line{
        padding-left: 58px;
    }
    .about_us{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1106;
        
        
    }

    }

   .about_us_title{
          padding-left: 1000;  
        }

     
    
    